.form-input {
  display: flex;
  flex-direction: column;
  >* {
    margin-bottom: $s-size;
  }
}

.form-input-error {
  font-style: italic;
  color: white;
  background: lighten(red, 25%);
  padding: $s-size;
}

.SingleDatePickerInput {
  display: block;
}