.text-input {
  height: 50px;
  border: 1px solid #cacccd;
  font-weight: 300;
  font-size: $font-size-large;
  padding: $s-size;
}

.select-input {
  @extend .text-input;
}

.textarea-input {
  @extend .text-input;
  height: 100px;
}