.summary_layout {
  background: #ebebeb;
  margin-bottom: $l-size;
  padding: $l-size;

  .summary_layout__action {
    margin-top: $m-size;
  }

  .summary_layout__title {
    margin: 0;
    font-weight: 400;

    span {
      font-weight: 700;
    }
  }
}